*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.db
app.db-shm
.db-wal
.db-journal
PersistedInstallation.W0RFRkFVTFRd+MTo3Mjk1ODc3NDIwNjA6YW5kcm9pZDplN2Q2Zjg3Yzc4M2Y1MmI5YTQyZjQ5.json
.events
.events-journal
.lock
